'context-menu':
  '.tree-view .file .name[data-name$=\\.eml]': [
    {
      'label': "Preview Email",
      'command': 'language-eml:html-preview'
    },
  ],
  'atom-text-editor': [
    'label': 'Email'
    'submenu': [
      {
        'label': 'Preview HTML body (text/html)',
        'command': 'language-eml:html-preview'
      },
      {
        'label': 'Preview Plain-Text body (text/plain)',
        'command': 'language-eml:extract-rfc822'
      },
      {
        'label': 'Open e-mails attachments (message/rfc822)',
        'command': 'language-eml:extract-rfc822'
      },
      {
        'label': 'Open TNEF attachments (application/ms-tnef)',
        'command': 'language-eml:extract-tnef'
      },
      {
        'label': 'Decode Base64 content',
        'command': 'language-eml:base64-decode'
      },
      {
        'label': 'Decode Quoted-Printable content',
        'command': 'language-eml:quoted-printable-decode'
      },
      {
        'label': 'Decode Encoded-Words content',
        'command': 'language-eml:encoded-words-decode'
      },
    ]
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Email'
      'submenu': [
        {
          'label': 'Preview HTML body (text/html)',
          'command': 'language-eml:html-preview'
        },
        {
          'label': 'Preview Plain-Text body (text/plain)',
          'command': 'language-eml:extract-rfc822'
        },
        {
          'label': 'Open e-mails attachments (message/rfc822)',
          'command': 'language-eml:extract-rfc822'
        },
        {
          'label': 'Open TNEF attachments (application/ms-tnef)',
          'command': 'language-eml:extract-tnef'
        },
        {
          'label': 'Decode Base64 content',
          'command': 'language-eml:base64-decode'
        },
        {
          'label': 'Decode Quoted-Printable content',
          'command': 'language-eml:quoted-printable-decode'
        },
        {
          'label': 'Decode Encoded-Words content',
          'command': 'language-eml:encoded-words-decode'
        },
      ]
    ]
  }
]
