'context-menu':
  '.tree-view .file .name[data-name$=\\.eml]': [
    {
      'label': "Preview Email",
      'command': 'language-eml:html-preview'
    },
  ],
  'atom-text-editor': [
    'label': 'Email (EML)'
    'submenu': [
      {
        'label': "Preview HTML",
        'command': 'language-eml:html-preview'
      },
      {
        'label': "Encoded-Words Decode",
        'command': 'language-eml:encoded-words-decode'
      },
      {
        'label': 'Base64',
        'submenu': [
          {
            'label': 'Decode',
            'command': 'language-eml:base64-decode'
          },
          {
            'label': 'Encode',
            'command': 'language-eml:base64-encode'
          },
        ]
      },
      {
        'label': 'Quoted-Printable',
        'submenu': [
          {
            'label': 'Decode',
            'command': 'language-eml:quoted-printable-decode'
          },
          {
            'label': 'Encode',
            'command': 'language-eml:quoted-printable-encode'
          }
        ]
      },
    ]
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Email (EML)'
      'submenu': [
        {
          'label': 'Preview HTML',
          'command': 'language-eml:html-preview'
        },
        {
          'label': "Encoded-Words Decode",
          'command': 'language-eml:encoded-words-decode'
        },
        {
          'label': 'Base64',
          'submenu': [
            {
              'label': 'Decode',
              'command': 'language-eml:base64-decode'
            },
            {
              'label': 'Encode',
              'command': 'language-eml:base64-encode'
            },
          ]
        },
        {
          'label': 'Quoted-Printable',
          'submenu': [
            {
              'label': 'Decode',
              'command': 'language-eml:quoted-printable-decode'
            },
            {
              'label': 'Encode',
              'command': 'language-eml:quoted-printable-encode'
            }
          ]
        },
      ]
    ]
  }
]
