'context-menu':
  'atom-text-editor': [
    'label': 'Email (EML)'
    'submenu': [
      {
        'label': 'Base64 decode',
        'command': 'language-eml:base64-decode'
      },
      {
        'label': 'Base64 encode',
        'command': 'language-eml:base64-encode'
      }
    ]
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Email (EML)'
      'submenu': [
        {
          'label': 'Base64 Toggle',
          'command': 'language-eml:base64-toggle'
        },
        {
          'label': 'Base64 decode',
          'command': 'language-eml:base64-decode'
        },
        {
          'label': 'Base64 encode',
          'command': 'language-eml:base64-encode'
        }
      ]
    ]
  }
]
