@import "ui-variables";

.syntax--text.syntax--eml.syntax--encoded {
  color: lightslategrey;
}

.syntax--constant.syntax--language.syntax--header {
  font-weight: bold;
  border-bottom: 1px solid gray;
}
